{% extends 'base.html.twig' %}

{% block body %}
    Hello User


<title> Station </title>
<body>

<header>
    <h1 class="titre1"> Liste des Station </h1>

</header>
<div class="container">
    <form action="{{ path('ajoutstationpage') }}"  method="post" class="form-group">
        <button class="btn btn-success " style="font-size:30px;" type="submit">
            <i>&#x2b;</i>
            Ajouter
        </button>
    </form>

    <br>
    <br>
    <table  class="table table-dark table-striped">

        <tbody>

        {% for user in us %}
            <tr style="height: 200px ; width: 300px">
                {#<th><img src="{{ asset(station.image) }}" class="img-thumbnail"  style="height: 300px;width: 300px"> </th>#}
                <th colspan="2"> ID :  <br><br>
                    Name : <br><br>
                    Email :<br><br>
                    Telephone :<br><br>
                    password :<br><br>
                    <form action="#" method="post" class="form-group">{#{{ path('modifboatpage') }}#}

                        <button name="edit" value="{{ user.id }}" class="btn btn-info" type="submit">
                            <i class="glyphicon glyphicon-cog"></i>
                            Modifier
                        </button>
                    </form>
                </th>
                <th colspan="2">
                    {{ user.id }}<br><br>
                    {{ user.name }}<br><br>
                    {{ user.email }}<br><br>
                    {{ user.tel }}<br><br>
                    {{ user.password }}<br><br>
                    <form action="#" method="post" class="form-group">{#{{ path('supprimerstation') }}#}
                        <button name="delete" value="{{ user.id }}" class="btn btn-danger" type="submit">
                            <i class="fa fa-trash-alt"></i>
                            Supprimer
                        </button>
                    </form>


                </th>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
